<div id="<%= dom_id tax_income %>">
  <p>
    <strong>User:</strong>
    <%= tax_income.user_id %>
  </p>

  <p>
    <strong>Estimation:</strong>
    <%= tax_income.estimation_id %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= tax_income.paid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tax_income.status %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tax_income.price %>
  </p>

</div>
