<p style="color: green"><%= notice %></p>

<%= render @tax_income %>

<div>
  <%= link_to "Edit this tax income", edit_tax_income_path(@tax_income) %> |
  <%= link_to "Back to tax incomes", tax_incomes_path %>

  <%= button_to "Destroy this tax income", @tax_income, method: :delete %>
</div>
